/* Do:
 * @import url("https://cdn.jsdelivr.net/gh/somidad/logseq-css/logseq/highlight-todo.css");
 */

span[data-ref="TODO"] a {
  color: #EA5455;
}

.block-marker.TODO {
  color: #EA5455;
}

span[data-ref="WAITING"] a {
  color: #FFD460;
}

.block-marker.WAITING {
  color: #FFD460;
}
